
body{
  box-sizing: border-box;
  color: black;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
  color: #45a2da;
}
header nav {
  margin-bottom: 48px;
  text-align: right;
}
header a {
  color: black;
  text-decoration: none;
}
a {
  text-decoration: none;
}
header a:hover{
  color: #45a2da;
}
h1 {
  color: #45a2da;
}
h2 {
  color: #45a2da;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

}
.container {
  width: 960px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
section article {margin-bottom: 48px}
footer a {
  color: white;
}
